/* Importing custom font */
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

html body {
	font-family: 'Architects Daughter', cursive;
	overflow-x: hidden;
	background-color: #000000;
	color: #F4CC00;
	overflow-x: hidden;
	min-width: 351px; /* to prevent showing white space when the size gets too small */
}

/* General rules for the body of html */
body h1 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Header formating rules*/
#header {
	border-bottom: solid #F4CC00;
	background-color: #000000;
}

#header_content {
	min-height: 150px;
	width: auto;
	max-width: 501px;
	margin: auto;
}

/* Formating header text */
#header h1 {
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
	color: #FFFFFF;
}

/* Formating for h3 */
#header h3 {
	margin-top: 2px;
	margin-bottom: 8px;
	font-weight: bold;
	text-align: center;
}

#header p {
	width: 345px;
	margin: auto;
}

#header p a {
	color: #F4CC00
}

/* Formating the logo */
#logo {
	padding-top: 10px;
	padding-left: 3px;
	width: 100%;
}

#social_media_header {
	display: none;
}

.iconHeader {
	width: 25px;
	height: 25px;
	margin-left: 5px;
}

/*Placing a white background for opacity to be brighter */
.body_container{
	background-color: #FFFFFF;
	min-height: 425px;
}

/* Footer formating rules */
#footer {
	background-color: #000000;
	width: auto;
	height: 100%;
	border-top: solid #F4CC00;
}

/* Social Media box container */
#social_media_footer {
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	margin: auto;
	width: 320px;
}

/* Social Media List items */
#social_media_footer li {
	display: inline;
}

/* General formating for anchor */
#social_media_footer a {
	color: #F4CC00;
	width: 125px;
	font-size: 13pt;
	font-weight: bold;
	padding-right: 18px;
}

/* Formating for last anchor */
#social_media_footer li:last-child a {
	padding-right: 0px;
}

/* Sizing social media icons */
.icon {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

/* Formating the icon disclaimer */
#disclaimer {
	text-align: center;
	padding-top: 5px;
	font-size: 8pt;
}

/* Formating hyperlinks */
#disclaimer a {
	color: #F4CC00;
}

@media only screen and (min-width: 685px) {
	
	#header {
		width: 100%;
	}
	
	#header_content {
		max-width: 100%;
		min-height: 105px;
	}
	
	/* fixed logo size */
	#logo {
		float: left;
		width: 350px;
		height: 75px;
		padding-top: 0px;
	}
	
	
	#header h3 {
		float: left;
		padding-left: 47px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#header p {
		width: 345px;
		margin-right: 0px !important;
		float: right;
		font-family: 'Architects Daughter';
	}
	
	.clear {
		clear: both;
	}
	#social_media_header {
		display: block;
	}
	
	#social_media_header li {
		float: right;
		list-style-type: none;
		padding-top: 10px;
	}
	
	#social_media_header  a {
		color: #F4CC00;
		width: 125px;
		font-size: 13pt;
		font-weight: bold;
		padding-right: 18px;
	}
	/* Formating for last anchor */
	#social_media_media li:last-child a {
		padding-right: 0px;
	}
	
	#social_media_footer {
		display: none;
	}
}